<script setup>

import {useForm}     from "@inertiajs/vue3";
import InputLabel    from "@/Components/InputLabel.vue";
import TextInput     from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const statistic = useForm({
    name: ''
})

const createStat = () => {
    statistic.post(`/statistic`)
    statistic.name = ''
}

</script>

<template>
    <div class="">
        <form @submit.prevent="createStat" class="bg-white overflow-hidden shadow-sm sm:rounded-lg mb-5">
            <div class="p-6 flex flex-col gap-6">
                <div class="flex flex-col w-96">
                    <InputLabel>Наименование *</InputLabel>
                    <TextInput v-model="statistic.name" @input="statistic.clearErrors('name')"></TextInput>
                    <small v-if="statistic.errors.name">Имя обязательно к заполнению</small>
                </div>
            </div>

            <div class="p-6">
                <PrimaryButton>Создать статистику</PrimaryButton>
            </div>
        </form>
    </div>
</template>

<style scoped>

</style>
