<script setup>

import {
    Head,
    router
}                          from "@inertiajs/vue3";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import DangerButton        from "@/Components/DangerButton.vue";
import Create              from "@/Pages/Statistic/Create.vue";
import SecondaryButton     from "@/Components/SecondaryButton.vue";

defineProps({
    statistics: {
        type: Array,
    }
});

</script>

<template>
    <Head title="Статистика" />

    <AuthenticatedLayout>
        <div class="flex flex-row justify-between m-12 gap-6">
            <div class="w-full">
                <div class="flex flex-col gap-6">
                    <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg p-5 flex items-center justify-between" v-for="stat in statistics" :key="stat.id">
                        {{stat.name}}
                        <div class="flex items-center justify-between gap-4">
                            <div>
                                <SecondaryButton>Изменить</SecondaryButton>
                            </div>
                            <form @submit.prevent="router.delete(`/statistic/${stat.id}`)">
                                <DangerButton>Удалить</DangerButton>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <Create/>
        </div>
    </AuthenticatedLayout>
</template>

<style scoped>

</style>
